In [1]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key1']

'value1'

In [4]:
prices_lookup = {'apple':2.99,'oranges':1.99, 'milk':5.80}

In [7]:
prices_lookup['apple']

2.99

In [8]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'insideKey':100}}
#dictionaries are flexable in the types they hold
#they can hold a string, list, numbers and another dictionary inside of them

In [9]:
d['k2']

[0, 1, 2]

In [12]:
d['k3']['insideKey']

100

In [15]:
d['k2'][2]

2

In [16]:
d = {'key1':['a', 'b', 'c']}

In [17]:
d

{'key1': ['a', 'b', 'c']}

In [19]:
mylist = d['key1']

In [20]:
mylist

['a', 'b', 'c']

In [21]:
letter = mylist[2]

In [22]:
letter

'c'

In [23]:
letter.upper()

'C'

In [3]:
d

NameError: name 'd' is not defined

In [12]:
d['key1'][2].upper()
#same as all the steps from 19 to 23

KeyError: 'key1'

In [5]:
d = {'k1': 100, 'k2':200}

In [6]:
d

{'k1': 100, 'k2': 200}

In [7]:
d['k3'] = 300
#to add a term to a dictionary

In [8]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [10]:
d['k1'] = 'NEW VALUE'
#to change the value of an existing term

In [11]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [13]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [14]:
d.values()

dict_values(['NEW VALUE', 200, 300])

In [15]:
d.items()

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

# Tuples/Couples

In [16]:
t = (1, 2, 3)
#tuples use pharenthases instead of brackets

In [17]:
my_list = [1, 2, 3]

In [18]:
type(t)
#tuples are very similar to lists

tuple

In [19]:
type(my_list)

list

In [20]:
len(t)

3

In [21]:
t = ('one', 2)

In [22]:
t

('one', 2)

In [23]:
t[0]

'one'

In [24]:
t[-1]

2

In [25]:
t = ('a', 'a', 'b')

In [26]:
t.count('a')
#counts how many times 'a' appears in the tuple

2

In [27]:
t.index('a')
#returns the first time 'a' appears in the tuple

0

In [28]:
t

('a', 'a', 'b')

In [29]:
my_list

[1, 2, 3]

In [30]:
my_list[0] = 'NEW'

In [31]:
my_list

['NEW', 2, 3]

In [32]:
t[0] = 'NEW'
#tuples are less flexible than lists

TypeError: 'tuple' object does not support item assignment