In [23]:
my_list = [1, 2, 3]

In [24]:
for num in range(0, 11, 2):
    #(start, stop, step)
    print (num)

0
2
4
6
8
10

In [25]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [26]:
index_count = 0
word = 'abcde'
for letter in word:
    print (word[index_count])
    #this syntax is used for lists too
    index_count += 1

a
b
c
d
e

In [27]:
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [28]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = [100, 200, 300]

In [29]:
for item in zip(list1, list2, list3):
    print (item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [30]:
list(zip(list1, list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In operator

In [31]:
'x' in [1, 2, 3]

False

In [32]:
'x' in ['x', 'y', 'z']

True

In [33]:
#can also work with strings
'a' in 'a world'

True

In [34]:
'key' in {'key':123}

True

In [36]:
d = {'key':123}

123 in d.values()

True

In [37]:
123 in d.keys()

False

Math functions

In [38]:
radNums = [10, 20, 30, 40, 100]

In [40]:
min(radNums)
#returns the number with the least value

10

In [41]:
max(radNums)
#returns the number with the maximum value

100

In [42]:
from random import shuffle

In [43]:
anotherList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
shuffle(anotherList)

In [48]:
anotherList
#in-place function, i.e doesn't return anything

[4, 1, 6, 3, 10, 5, 8, 7, 2, 9]

In [52]:
from random import randint
#gives random intergers

In [53]:
randint(0, 100)

56

In [54]:
randint(0, 100)

95

In [55]:
mynum = randint(0, 10)

In [56]:
mynum

8

In [57]:
mynum

8

User Input

In [61]:
result = input('Favorite Number: ')
#always returns a string

Favorite Number: 30

In [62]:
result

'30'

In [63]:
#to convert to an interger or floating number
float(result)

30.0

In [64]:
#or
int(result)

30

In [65]:
result = int(input('Favorite Number: '))

Favorite Number: 21

In [66]:
result

21