In [1]:
print("hello")

hello

In [2]:
"hello world one"
"hello world two"

'hello world two'

In [3]:
print ("hello world one")
print ("helo world two")

hello world one
helo world two

In [4]:
print ('hello world')

hello world

In [8]:
print ('hello \nworld') 
#n to make a new row

hello
world

In [6]:
print ('hello \tworld') 
#t for tab

hello 	world

In [10]:
len('hello')

5

In [11]:
len('I am')

4

In [12]:
myString = "Hello world"

In [13]:
myString

'Hello world'

In [14]:
myString[0]

'H'

In [15]:
myString[8]

'r'

In [17]:
myString[-2]
myString[9]
#Both are the same

'l'

In [18]:
myString

'Hello world'

In [19]:
myString = 'abcdefghijk'

In [20]:
myString

'abcdefghijk'

In [21]:
myString[2]

'c'

In [22]:
myString[2:]
#w/ colon grabs from no. 2 till end

'cdefghijk'

In [25]:
myString[:3]
#stop index does not include that number

'abc'

In [26]:
myString[3:6]

'def'

In [27]:
myString[1:3]

'bc'

In [28]:
myString[4:9]

'efghi'

In [29]:
myString
myString[::]
#same thing

'abcdefghijk'

In [30]:
myString[::2]
#skips the letters by 2
#step size

'acegik'

In [32]:
myString[2:7:3]
#starts @ 2 ends @ 7 and counts by 3

'cf'

In [34]:
myString[::-1]
#reverses string

'kjihgfedcba'

# Immutability

In [35]:
name = "Sam"

In [37]:
#name[0] = 'P' does not work to make "Pam"

In [40]:
last_letters = name[1:]

In [41]:
last_letters

'am'

In [42]:
'P' + last_letters
#Concatinating-merging two peices of strings together

'Pam'

In [43]:
x = 'Hello World!'

In [47]:
x = x + " it is beautiful outside!"

In [48]:
x

'Hello World it is beautiful outside!'

In [49]:
letter = 'z'

In [50]:
letter * 10

'zzzzzzzzzz'

In [51]:
2 + 3

5

In [52]:
'2' + '3'
#math doesn't apply to strings

'23'

In [53]:
x = 'Hello World'

In [55]:
x.upper()
#does not change the original x

'HELLO WORLD'

In [56]:
x

'Hello World'

In [57]:
x.lower()

'hello world'

In [58]:
x.split()

['Hello', 'World']

In [59]:
x = 'hi this is a string'

In [60]:
x

'hi this is a string'

In [63]:
x.split()
#default splits in white spaces & creates a list

['hi', 'this', 'is', 'a', 'string']

In [62]:
x.split('i')
#splits at the i's and removes them

['h', ' th', 's ', 's a str', 'ng']

# Formatting with .format() method

In [66]:
print('This is a string. {}'.format('THIS IS INSERTED'))
#.format places 'THIS IS INSERTED' into the {}

This is a string. THIS IS INSERTED

In [67]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))
#inserts multiple strings respectively

The fox brown quick

In [70]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))
#inserts multiple strings based on the index

The quick brown fox

In [73]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))
#able to assign them keywords like variables

The quick brown fox

In [75]:
#float formatting follows "{value:width.percision f}"
result = 100/777

In [80]:
result = 104.122345

In [81]:
print('The result was {r:1.3f}'.format(r = result))
#value = 'r'
#width/how much whitespace there is = 1 (not important)
#percision = 3

The result was 104.122

Formatted String Literals

In [82]:
name = "Jose"

In [83]:
print('Hello, his name is {}'.format(name))
#old formatting

Hello, his name is Jose

In [84]:
print(f'Hello, his name is {name}')
#string literals

Hello, his name is Jose

In [85]:
name = 'Sam'
age = 3

In [86]:
print(f'{name} is {age} years old.')

Sam is 3 years old.